/* The slider itself */
.slider {
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    width: 100%; /* Full-width */
    height: 25px; /* Specified height */
    background: #d3d3d3; /* Grey background */
    outline: none; /* Remove outline */
    opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s; /* 0.2 seconds transition on hover */
    transition: opacity .2s;
}

/* Mouse-over effects */
.slider:hover {
    opacity: 1; /* Fully shown on mouse-over */
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.slider::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    background: #006699; /* Green background */
    cursor: pointer; /* Cursor on hover */
}

.slider::-moz-range-thumb {
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    background: #006699; /* Green background */
    cursor: pointer; /* Cursor on hover */
}

.footer {
    position:fixed;
    bottom:0;
    left:0;
    right:0;
    font-size: 10pt;
    background:rgba(0,0,0,0.8);
    color:rgba(255,255,255,0.7);
    display:block;
    text-align:center;
}

.link-number{
    background:red;
    color:white;
    border-radius:3px;
    padding:1px;
    padding-right:2px;
}

.link-number-o{
    background:white;
    color:black;
    border-radius:3px;
    padding:1px;
    padding-right:2px;
}

li.active{
    background:rgba(230,230,230,1);
}

.requirements{
    border:1px solid rgba(0,0,0,0.5);
    margin-top:5px;
    margin-bottom:5px;
    padding:7px;
    border-radius:3px;
    display:none;
}

.requirements p{
    margin:0;
    color:red;
    padding:0;
}

label span.required{
    font-style: italic;
    color:red;
}

.badge-select{
    width:calc(33.3%);
    margin:0 !important;
}

.internal-select{
    width:calc(50%);
    margin:0 !important;
}

.btn.right{
    border-top-left-radius:0;
    border-bottom-left-radius:0;
    border-left:0;
}

.btn.left{
    border-top-right-radius:0;
    border-bottom-right-radius:0;
    border-right:0;
}

.btn.center{
    border-radius:0;
}

.panel-button{
    display:block;
    width:100%;
    border-bottom:1px solid rgba(0,0,0,0.2);
    text-decoration:none;
    padding:10px;
    margin:0;
}

.panel-body.slides-panel{
    padding:0;
}
.panel-button:hover, .panel-button:active, .panel-button:visited{
    background:rgba(0,0,0,0.1);
    text-decoration:none;
}

.modal-body .modal-album{
    width:calc(50% - 40px);
    margin:10px;
}

img.modal-album-cover{
    width:100%;
    max-height:300px;
}

.page-description{
    font-size:16pt;
    color:rgba(0,0,0,0.7);
    margin-top:5px;
    padding-top:0;
    margin-bottom:20px;
}

.page-header.with-description{
    margin-bottom:0;
    border-bottom:1px solid rgba(0,0,0,0.2);
}

.album-edit-image{
    max-width:100%;
    max-height:300px;
    margin-bottom:10px;
}

.btn-image{
    border:1px solid rgba(0,0,0,0.3);
}
.btn-image:hover{
    border:1px solid rgba(0,0,0,0.6);
}

.panel-link{
    text-decoration:none;
    color:black;
}

.panel-link:hover{
    text-decoration:none;
    color:black;
}

.svg{

}
.color-select{
    margin:auto;
    display:block;
}

.color-select .color{
    text-align:center;
    margin-bottom:5px;
}

.modal-big-link{
    width:100%;
    padding:10px;
    font-size:20px;
    text-align:center;
    display:block;
    border:1px solid rgba(0,0,0,0.2);
    border-radius:5px;
    color:black !important;
    text-decoration:none !important;
    margin-top:5px;
}

.modal-big-link p{
    padding:0;
    margin:0;
    margin-top:5px;
}

.modal-big-link:hover{
    background:rgba(0,0,0,0.1);
 }

.autocomplete{
    position:absolute;
    top:33px;
    left:56px;
    background:rgba(255,255,255,1);
    border:1px solid rgba(0,0,0,0.3);
    padding:0;
    margin:0;
    z-index:200;
}

.autocomplete a.auto-link{
    display:block;
    padding:5px;
    text-decoration:none !important;
}

.autocomplete a.auto-link:hover{
    background:rgba(0,0,0,0.1);
}
.bg-default {
    color: #666 !important;
    background-color: #eee !important;
}
.progress-bar{
    border-bottom:none;
}
.progress{
    border-bottom:none;
}

.include-progress{
    padding-bottom:0 !important;
    margin-bottom:-15px;
}

.btn-block.btn-push{
    margin-top:10px;
}
